<div class="container-edit-page">
  <div class="cocktail-ingredients">
    <div class="cocktail-edit">

      <div class="cocktail-edit-name">
        <h3><%= @cocktail.name %></h3>
      </div>
      <div class="edit-img" style="background-image: url(<%= @cocktail.photo %>);"></div>

      <div class="form-cocktail">

        <div class="name-edit">
          <h3>Edit Cocktail</h3>
        </div>

        <%= simple_form_for(@cocktail) do |f| %>
          <%= f.input :name, label: 'Cocktail name' %>
          <br>
          <%= f.input :photo, label: 'Photo url' %>
          <%= f.input :photo_change, as: :hidden %>
          <br>
          <%= f.button :submit, value="Submit", class: 'btn-create-cocktail' %>
        <% end %>
      </div>

    </div>
  </div>
</div>
